@font-face {
    font-family: urchlo;
    src: url('./fonts/Urchlo\ Romhanach.ttf');
  }
  

body{
    background-color: black;
    overflow: hidden;
    overflow-x: hidden;
}
html, body {
    overflow-x: hidden;
  }
  body {
    position: relative;
  }
.container{
    margin-top:1%;
    /* border:3px solid green; */
}

#top,#middle,#bottom{

    height:180px;
    /* width:200px; */
    /* border:2px solid orange; */
    align-items: center;
    text-align:center;
    vertical-align: middle;
}
#middle{
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    /* transition:opacity 1s !important; */
}

#top-content{
/* padding-top:5%; */
}
#top-content{
    color:whitesmoke;
    font-family:urchlo;

}
#top-content,#bottom-content{
    font-size:1.4em;
padding-top: 10%;
}
#next{
    /* border-color:#8f7d30; */
    /* color:#6c757d; */
    
}
.foot{
    position: fixed;
    height: 100px;
    bottom: 5%;
    width: 100%;
    justify-content: space-around;
    margin-bottom:0;
    padding-bottom: 0;
    height:7%;
    z-index: 5000;
}

@keyframes sea-move {
    from {
      transform: translate(-6%, 0%);
    }
  
    to {
      transform: translate(-62%, 0%);
    }
}  
    .sea{
        /* border:2px solid green; */
/* height:100%; */
width:957px;
left:0;
background-size:cover !important;
        animation: 60s sea-move infinite linear;
    }

    @media only screen and (orientation:portrait){

        #bottom-content{
            color:rgb(143, 125, 48) ;
        } 
    .screen-blocker{
        display:none;
    }
}

@media only screen and (orientation:landscape){
    #top,#middle,#bottom{

    
    }

    #gears{
        background-image: url('./images/gears.png');
        background-repeat: no-repeat;
        height:200px;
        background-position: center;

    }
    h4{
        text-align: center;
        margin:-4px;
    }

    .gaeilge{
        font-family: urchlo;
    }
    #screen-blocker{

        /* border:2px solid blue; */
        background-color:black;
        display:grid;
        vertical-align: center;
        align-content: center;        
        height:100%;
        width:100%;
        position: fixed;
        top:0;
        left:0;
        z-index: 5000;
    } 



}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
  }
  
  #loader {
    display: block;
    position: relative;
    left: 37%;
    top: 40%;
    width: 250px;
    height: 250px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #383838;
    -webkit-animation: spin 2s linear infinite;
    /*Chrome, opera 15+, safari 5+*/
    animation: spin 2s linear infinite;
    /*Chrome, firefox 16+, ie10+,  Opera*/
    z-index: 10001;
  }
  
  #loader:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #353535;
    -webkit-animation: spin 3s linear infinite;
    /*Chrome, opera 15+, safari 5+*/
    animation: spin 3s linear infinite;
    /*Chrome, firefox 16+, ie10+,  Opera*/
  }
  
  #loader:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #535353;
    -webkit-animation: spin 1.5s linear infinite;
    /*Chrome, opera 15+, safari 5+*/
    animation: spin 1.5s linear infinite;
    /*Chrome, firefox 16+, ie10+,  Opera*/
  }
  
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
    }
    100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
    }
  }
  
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(0deg);
      /*IE 9*/
      transform: rotate(0deg);
      /*Firefox 16+, IE 10+, Opera*/
    }
    100% {
      -webkit-transform: rotate(360deg);
      /*Chrome, Opera 15+, Safari 3.1+*/
      -ms-transform: rotate(360deg);
      /*IE 9*/
      transform: rotate(360deg);
      /*Firefox 16+, IE 10+, Opera*/
    }
  }
  
  #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
  
    z-index: 10000;
  }
  
  #loader-wrapper .loader-section.section-left {
    left: 0;
    background-color: rgb(0, 0, 0);
  }
  
  #loader-wrapper .loader-section.section-right {
    right: 0;
    background-color: rgb(0, 0, 0);
  }
  
  /*Loaded styles*/
  .loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: (-100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: (100%);
    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s 0.7s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  
  .loaded #loader-wrapper {
    visibility: hidden;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.3s 1s ease-out;
    transition: all 0.3s 1s ease-out;
  }
  
  